h4.ui.horizontal.divider.header
  i.bar.chart.icon
  | Activity 
div.ui.tiny.statistic.centered
 div.label Transactions
 div.value(id="activity") ---

h4.ui.horizontal.divider.header
  i.pie.chart.icon
  | Actions
div.ui.tiny.statistic.centered
 div.label Operations
 div.value(id="optypes") ---
 div.label Fees
 div.value(id="feespayed") ---
 div.label Transfers
 div.value(id="transfered") ---
