h4.ui.horizontal.divider.header
 i.cubes.icon
 | Blockchain
div.ui.tiny.statistic.centered
 div.value(id="blocknum") ---
 div.label Head Block
 div.value(id="blockint") ---
 div.label Block Interval
 div.value(id="maintint") ---
 div.label Maintenance Interval
