a.item(href="https://github.com/BitSharesEurope/stats.bitshares.eu",target="_blank")
 i.left.github.alternate.icon
 | Github
a.item(href="https://bitsharestalk.org/index.php/topic,18319.0.html",target="_blank")
 i.comment.outline.icon
 | BitSharesTalk
div.item
 i.gift.icon
 tt donations.xeroc 
div.item
 i.thumbs.up.icon
 tt payroll.delegate.xeroc
div.item
 i.copyright.icon
 | Fabian Schuh
