extends ./layout.jade

block content
 div.ui.celled.padded.equal.height.grid(id="maingrid")

  div.row
   div.ui.two.wide.column.grid.centered
    include ./blockchain.jade
    include ./costs.jade
   div.ui.two.wide.column.grid.centered
    include ./activity.jade
    include ./accounts.jade
   div.ui.four.wide.column.grid.centered
    include ./load.jade
    include ./nodes.jade
   div.ui.eight.wide.column.grid.centered
    include ./txhist.jade

  div.row
   div.eight.wide.column
    include ./lasttxtable.jade

   div.seven.wide.column
    include ./lastblock.jade

  div.row
   div.ui.column.footer
    include ./footer.jade
