extends ./layout.jade

block content
  div.ui.celled.grid(style="margin-top:0pt !important;height:100vh;")
   div.row
    div.ui.two.wide.column.grid.centered
     div.ui.tiny.statistic.centered

      div.label Blocks
      div.value(id="blocknum") ---

      div.label Block Interval
      div.value(id="blockint") ---

      div.label Maintenance Interval
      div.value(id="maintint") ---

      div.label Last Witness
      div.value(id="lastwitness") ---

      p

      div.label Witness Pay
      div.value(id="witness_pay") ---

      div.label Budget Pay
      div.value(id="budget_pay") ---

      p

      div.label Number Accounts
      div.value(id="account_count") ---

    div.four.wide.column
     #tps
    div.ui.two.wide.column.grid.centered
     div.ui.tiny.statistic.centered

      div.label Last Activity
      div.value(id="activity") ---

      div.label Operations
      div.value(id="optypes") ---

      div.label Fees
      div.value(id="feespayed") ---

      div.label Transfers
      div.value(id="transfered") ---

    div.eight.wide.column
     #tpbhist
   div.row
    div.eight.wide.column
     table.ui.very.basic.striped.very.compact.teal.table(width="100%" id="txlist")
      thead
       tr
        th Blocknr
        th from
        th to
        th op
      tbody
    div.eight.wide.column
     div(style="height:50vh;overflow:hidden !important")
      pre.json(id="blockJson")
